/*---画像をhoverしたときに暗くなってキャプションがでる------------------------------------*/
/*---content1で使用中---------------------------------------------------------------*/
.img_animation_1 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.img_animation_1 a {
    text-decoration: none;
    color: #ffffff;
}

.img_animation_1 .img {
    position: absolute;
    z-index: 0;
}

.caption {
    display: table;
    position: absolute;
    background-color: rgba(00, 00, 00, 0);
    width: 100%;
    height: 300px;
    text-align: center;
    z-index: 1;
    transition: .5s linear;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -o-transition: .5s linear;
    -ms-transition: .5s linear;
}

.caption .captionContent {
    display: table-cell;
    vertical-align: middle;
}

.caption .link_title {
    opacity: 0;
    font-size: 22px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    transition: .2s linear;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-outr;
    -ms-transition: .5s ease-in-out;
}

.caption h3 {
    color: #fff;
}

.caption .line {
    display: block;
    background-color: #dddddd;
    width: 0%;
    height: 1px;
    margin: 6px auto 10px;
    transition: .5s ease-in-put;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
}

.caption .description {
    opacity: 0;
    font-size: 12px;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: .5s linear;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
}

a .caption .description {
    color: #fff;
}

a:hover .caption {
    background-color: rgba(00, 00, 00, .6);
}

a:hover .caption .link_title {
    opacity: 100;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

a:hover .caption .line {
    width: 60%;
}

a:hover .caption .description {
    opacity: 100;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

/*下線を少し話す----------------------------------------------------------*/
.link_underline {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.link_underline::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 0.5px;
    background: #333;
    transform: translateY(3px);
    transform-origin: left top;
    transition: transform .4s;
}

.link_underline:hover::after {
   transform: translateY(-1px);
}

.link_underline_white {
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.link_underline_white::after{
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 0.5px;
    background: #fff;
    transform: translateY(3px);
    transform-origin: left top;
    transition: transform .4s;
}

.link_underline_white:hover::after {
   transform: translateY(-1px);
}

#weather_link_all h3 {
    opacity: 1;
    transition: 0.2s;
}

#weather_link_all h3:hover {
    opacity: 0.5;
    transition: 0.2s;
}

/*------ここからaタグの下線のアニメーションについて------------------------------------*/


.underline {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.underline::after {
    position: absolute;
    bottom: -3px;
    left: 0;
    content: '';
    width: 100%;
    height: 0.5px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform .4s;
}

.underline:hover::after {
    transform: scale(1, 1);
}


@media screen and (max-width:479px) {
    
}