/*---画像をhoverしたときに暗くなってキャプションがでる------------------------------------*/
/*---content1で使用中---------------------------------------------------------------*/
.img_animation_1 {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    position: relative;
}

.img_animation_1 a {
    text-decoration: none;
    color: #ffffff;
}

.img_animation_1 .img {
    position: absolute;
    z-index: 0;
}

.caption {
    display: table;
    position: absolute;
    background-color: rgba(00, 00, 00, 0);
    width: 100%;
    height: 300px;
    text-align: center;
    z-index: 1;
    transition: .3s linear;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    -ms-transition: .3s linear;
}

.caption .captionContent {
    display: table-cell;
    vertical-align: middle;
}

.caption .link_title {
    opacity: 0;
    font-size: 22px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-70%);
    -moz-transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    -o-transform: translateY(-70%);
    transition: .2s linear;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
}

.caption h3 {
    color: #fff;
}

.caption .line {
    display: block;
    background-color: #dddddd;
    width: 0%;
    height: 1px;
    margin: 6px auto 10px;
    transition: .5s ease-in-put;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
}

.caption .description {
    opacity: 0;
    font-size: 12px;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: .3s linear;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
}

a .caption .description {
    color: #fff;
}

a:hover .caption {
    background-color: rgba(00, 00, 00, .6);
}

a:hover .caption .link_title {
    opacity: 100;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

a:hover .caption .line {
    width: 60%;
}

a:hover .caption .description {
    opacity: 100;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}

/*content2で使用中-----------------------------------------*/
#rain_1 {
    position: relative;
}

#rain_1 .rain_img_2 {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#rain_2 {
    position: relative;
}

#rain_2 .rain_img_2 {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#rain_3 {
    position: relative;
}

#rain_3 .rain_img_2 {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

#rain_4 {
    position: relative;
}

#rain_4 .rain_img_2 {
    position: absolute;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.rain_img_2:hover {
    animation: rain 1.5s infinite;
}

@keyframes rain {
    0% {
        height: 0;
    }

    100% {
        height: 40px;
    }
}

#snow {
    position: relative;
}

#snow .snow_img_1 {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.snow_img_1:hover {
    animation: snow 1.5s infinite;
}

@keyframes snow {
    0% {
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }

    100% {
        -webkit-transform: translate(-50%, 30px);
        -ms-transform: translate(-50%, 30px);
        -o-transform: translate(-50%, 30px);
        transform: translate(-50%, 30px);
    }
}
    .typhooon_animation:hover {
        animation: typhoon .8s infinite linear;
    }

    
    @keyframes typhoon {
        0% {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
        }
        100% {
            -webkit-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg);
        }
}

    /*下線を少し話す----------------------------------------------------------*/
    .link_underline {
        text-decoration: none;
        position: relative;
        display: inline-block;
    }

    .link_underline::after {
        position: absolute;
        bottom: -3px;
        left: 0;
        content: '';
        width: 100%;
        height: 0.5px;
        background: #333;
        transform-origin: left top;
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px);
        -webkit-transition: transform .3s;
        -o-transition: transform .3s;
        transition: transform .3s;
    }

    .link_underline:hover::after {
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    .link_underline_white {
        text-decoration: none;
        position: relative;
        display: inline-block;
    }

    .link_underline_white::after {
        position: absolute;
        bottom: -3px;
        left: 0;
        content: '';
        width: 100%;
        height: 0.5px;
        background: #fff;
        transform-origin: left top;
        -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
        -o-transform: translateY(3px);
        transform: translateY(3px);
        -webkit-transition: transform .3s;
        -o-transition: transform .3s;
        transition: transform .3s;
    }

    .link_underline_white:hover::after {
        -webkit-transform: translateY(-1px);
        -ms-transform: translateY(-1px);
        -o-transform: translateY(-1px);
        transform: translateY(-1px);
    }

    #weather_link_all h3 {
        opacity: 1;
        -webkit-transition: transform .3s;
        -o-transition: transform .3s;
        transition: transform .3s;
    }

    #weather_link_all h3:hover {
        opacity: 0.5;
        -webkit-transition: transform .3s;
        -o-transition: transform .3s;
        transition: transform .3s;
    }

    /*------ここからaタグの下線のアニメーションについて------------------------------------*/


    .underline {
        position: relative;
        display: inline-block;
        text-decoration: none;
    }

    .underline::after {
        position: absolute;
        bottom: -3px;
        left: 0;
        content: '';
        width: 100%;
        height: 0.5px;
        background: #333;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .4s;
    }

    .underline:hover::after {
        transform: scale(1, 1);
    }

    /*----SNSのbuttonanimation------------------*/

    .btn {
        display: inline-block;
        width: 50px;
        height: 50px;
        background: var(--btn);
        border-radius: 15%;
        box-shadow: 0 2.5px 5px -2.5px #000;
        color: var(--icon);
        overflow: hidden;
        position: relative;
        transition: 0.4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        -o-transition: .4s ease-in-out;
        transition: .4s ease-in-out;
    }

    .btn i {
        position: relative;
        top: 15px;
        left: 15px;
        font-size: 20px;
        -webkit-transition: .6s ease-in-out;
        -o-transition: .6s ease-in-out;
        transition: .6s ease-in-out;
    }

    .btn:hover {
        background: var(--bg);
        box-shadow: none;
    }

    .btn:hover i {
        transform: scale(1.2);
        color: #fff;
    }

    .btn::before {
        content: "";
        position: absolute;
        width: 120%;
        height: 120%;
        background: var(--btn-hover);
        transform: rotate(45deg);
        left: -110%;
        top: 90%;
        transform-origin: 50% 50%;
        border-radius: 50%;
        opacity: 0;
    }

    .btn:hover::before {
        transform: scale(1.2);
        box-shadow: inset 0px 5px 23px -9px #000;
        opacity: 1;
        animation: sweet 0.7s 1;
        top: -10%;
        left: -10%;
    }

    @keyframes sweet {
        0% {
            left: -110%;
            top: 90%;
        }

        50% {
            left: 10%;
            top: -30%;
        }

        100% {
            top: -10%;
            left: -10%;
        }
    }

    #home_btn {
        --bg: #fff;
        --btn-hover: #a0522d;
        --btn: #fff;
        --icon: #a0522d;
    }

    #instagram_btn {
        --bg: #fff;
        --btn-hover: #db7093;
        --btn: #fff;
        --icon: #db7093;
    }

    #twitter_btn {
        --bg: #fff;
        --btn-hover: #6495ed;
        --btn: #fff;
        --icon: #6495ed;
    }

    @media screen and (max-width:479px) {
        .img_animation_1 {
            width: 200px;
            height: 250px;
            margin-top: 50px;
        }

        .caption {
            height: 200px;
        }

        .caption .link_title {
            opacity: 1;
            color: #001E4E;
            font-size: 14px;
            width: 100px;
            margin: 0 auto;
        }

        .caption .captionContent {
            vertical-align: super;
        }
    }
