/*---content01に共通のものについて------------------------------*/
.flex {
    justify-content: space-around;
    flex-wrap: wrap;
}

section {
    padding: 50px 0px;
}

section:last-of-type{
padding-bottom: 150px;
}

h2{
    padding: 50px;
}

a{
    color: #001E4E;
}
/*---headerについて------------------------------------------*/
header {
    background-image: url(img/bg_content1_2.jpg);
}

h1{
    text-shadow: 3px 3px 2px rgba(240,240,240,0.9),
    5px 5px 4px rgba(130,150,150,0.5);
}
/*section1雲をさがす------------------------------------------*/
#section1 {
    background-color: #f5f5f5;
}

#section1 .subtitle{
    display: flex;
    justify-content: center
}
#section1 .subtitle img{
    object-fit: contain;
    width: 50px;
}
.section1{
    padding: 30px;
}
/*---いろいろな雲について---*/
#section1 .slider a{
    outline:none; 
    text-decoration: none;
    width: 80px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

#section1 .slider a p:hover{
   opacity:0.7; 
   -webkit-transition: 0.2s;
   -o-transition: 0.2s;
   transition: 0.2s;
}

.slider img {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

.slider img:hover {
    -webkit-transform:scale(1.05) ;
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}

#section1 .slider img{
    margin: 0 auto;
    box-shadow: 3px 3px 20px -15px #000; 
}
/*---高さから探す---*/
/*---animationについてはanimation.cssに記述---*/

#height .flex img {
    background-color: #fff;
    box-shadow:inset 3px 3px 20px -13px #777;
}

/*---天気から探す---*/
/*---underlineについてはanimation.cssに記述---*/
.weather_link h3 {
    text-align: center;
}

.weather_link img:hover {
    -webkit-transform:scale(1.05) ;
    -ms-transform:scale(1.05);
    -o-transform:scale(1.05);
    transform:scale(1.05);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
#section1 #weather_link_all h3{
    padding:20px 0px 0px;
}

/*---section2について-------------------------------------------*/
#section2 {
    position: relative;
    background-image: url(img/01_section2_bg.png);
    background-size: contain;
}

#section2 .bg_white {
    background-color: #fff;
}

#section2 .twitter_bird {
    position: absolute;
    bottom: 10px;
    right: 70px;
}

footer {
    background-image: url(img/bg_content1_2.jpg);
    -webkit-background-size: cover;
    background-size: cover;
}

/* ---ここからスマホ版----------------------*/
@media screen and (max-width:479px) {
h2{
    padding: 30px;
}
    /*---section1について------------------*/
    #section1 .img img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }

    #section1 .weather_link img {
        width: 100px;
    }

    /*---section2について------------------*/
    #section2 .twitter_bird {
        position: static;
        display: block;
        margin: auto;
    }
    #weather_link_all .flex{
        flex-direction: column;
        align-items: center;
    }
}
