/*---content02に共通のものについて----------------------*/
section {
    padding: 50px 0px;
}

/*headerについて-----------------------------------*/
header {
    background-image: url(img/bg_content3_2.png);
}

/*section1 年間の気象状況の比較について------------------*/
/*#section1 .title {
    padding: 50px 0px;
}*/
#section1 .flex {
    justify-content: space-between;
}

#section1 p small {
    background-color: #ededed;
}

#section1_graph2 figure {
    padding-top: 65px;
}

/*section2について---------------------------------------------*/
#section2 .title {
    position: relative;
}

#section2 .title p {
    position: absolute;
    left: 50%;
}

#section2 .section2_data .flex {
    padding: 20px 0px 5px;
    align-items: flex-end;
}

#section2 .section2_data .flex h3 {
    padding-right: 10px;
}

#section2 .section2_data .flex {
    justify-content: flex-start;
}

#section2 .section2_data p data {
    font-size: 40px;
}

#section2 .section2_data p span {
    font-size: 12px;
}

#section2 .flex {
    justify-content: space-around;
}

#section2 .upper {
    flex-direction: column;
}

#section2 .lower {
    display: flex;
    flex-direction: column;
}

#section2 #section2_data5 h3 {
    padding-top: 20px;
}

#section2 #section2_data6 h3 {
    padding-top: 20px;
}

/*section3について-----------------------------------------------*/
#section3 .figure {
    position: relative;
    padding-right: 150px;
}

#section3 .section3_figure_prev {
    position: absolute;
    left: 90px;
    top: 40px;
}
#section3 .section3_figure_now {
    position: absolute;
    left: 90px;
    top: 270px;
}

#section3 .section3_figure_purpose {
    position: absolute;
    left: 90px;
    top: 200px;
}

#figure_capture {
    margin: 0 auto;
}

#section3 .txt {
    display: flex;
    flex-direction: column;
}

/*footerについて-----------------------------------------------*/
footer {
    background-image: url(img/bg_content3_2.png);
}

footer nav li a span {
    color: #fff;
}

/* ---ここからスマホ版----------------------*/
@media screen and (max-width:479px) {
    section {
    padding: 50px 0px;
}

    .title {
    padding: 30px 0px 50px;
}

    footer nav li a span {
        color: #001E4E;
    }
    #section1 .flex{
flex-direction: column;
    }
    #section1 img{
        width: 300px;
        display: block;
        margin: 0 auto;
    }
    #section2 .title p{
        padding: 0;
    }
    #section2 .section2_data .flex{
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
   
    #section2 .section2_data h5{
        font-size: 10px;
    }
    #section2_data2 h3{
        padding:15px 0px 5px 0px;
    }
    #section2_data3 h3{
        padding:15px 0px 5px 0px;
    }
    #section3 .figure {
        width: 150px;
        padding: 0;
        display: block;
        margin: 0 auto;
        transform: scale(0.8)
    }

    #section3 .flex {
        flex-direction: column
    }
}
