header {
    background-image: url(img/bg_content4_2.jpg);
}

h2 {
    padding: 15px 0px;
}

.title {
    margin-bottom: 50px;
}

.title p {
    text-align: center;
}

/*section1 step1 知るについて---------------------------------------*/

#section1 {
    margin: 100px 0px;
}

#section1 .flex {
    justify-content: space-between;
}

#section1 .gr {
    width: 300px;
    border: solid 0.5px #001E4E;
}

#section1 .gr {
    padding: 70px 10px 20px;
    box-sizing: border-box;
    margin-top: 90px;
}

#section1 .gr h3 {
    text-align: center;
}

#section1 .section1_txt p {
    margin: 20px 0px;
}

/*markのこと*/
#section1_gr1 {
    position: relative;
}

#section1_mark1 {
    position: absolute;
    background-color: #E78C8B;
    width: 80px;
    height: 80px;
    top: -40px;
    right: 110px;
    border-radius: 50%;
}

#section1_mark1 p {
    font-size: 40px;
    font-family: Comic Sans MS;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

#section1_gr2 {
    position: relative;
}

#section1_mark2 {
    position: absolute;
    background-color: #E78C8B;
    width: 80px;
    height: 80px;
    top: -40px;
    right: 110px;
    border-radius: 50%;
}

#section1_mark2 p {
    font-size: 24px;
    font-family: Comic Sans MS;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

#section1_gr3 {
    position: relative;
}

#section1_mark3 {
    position: absolute;
    background-color: #E78C8B;
    width: 80px;
    height: 80px;
    top: -40px;
    right: 110px;
    border-radius: 50%;
}

#section1_mark3 p {
    font-size: 24px;
    font-family: Comic Sans MS;
    color: #fff;
    line-height: 80px;
    text-align: center;
}

/*addressのこと*/
.section1_address p {
    padding: 10px 0px 10px;
}

#section1 .flex {
    justify-content: space-around;
}

#section1 .flex img:hover {
    opacity: 0.7;
    transition: 0.2s;
}

/*section1 step2 わかるについて---------------------------------------*/

#section2 {
    margin-bottom: 100px;
    background-image: url(img/bg_clock.png);
    -webkit-background-size: contain;
    background-size:contain;
}

#section2 .flex {
    align-items: center;
    padding: 20px 0px;
}

#section2 .flex h4 {
    margin-right: 50px;
    background-color:rgba(255,255,255,0.6);
}

.section2_answer {
    display: flex;
}

.section2_answer label {
    font-size: 16px;
    background-color:rgba(255,255,255,0.6);
    cursor: pointer;
}

.section2_answer label:hover {
    transition: 0.5s;
}

.section2_answer input {
    display: none;
}

.section2_answer .section2_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

.section2_answer input:checked ~ .section2_show {
    height: auto;
    opacity: 1;
}


/*section3 step3 実行するについて---------------------------------------*/
#section3 {
    margin-bottom: 100px;
}

#section3 .flex {
    justify-content: space-around;
}

#section3 .subtitle {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#section3 .subtitle img {
    padding-right: 10px;
}

#section3 h4 {
    line-height: 80px;
    font-size: 20px;
}


/*section4 step4 教えるについて---------------------------------------*/
#section4 {
    margin-bottom: 150px;
}

#section4 .flex {
    justify-content: space-around;
}

#section4 .section4_gr{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#section4 .section4_gr h3{
    padding: 20px;
}


#section4 .section4_gr p{
    width: 250px;
    padding-top: 10px;
    border-top: solid 0.8px #707070;
}


/*footerについて------------------------------------------------*/
footer {
    background-image: url(img/bg_content4_2.jpg);
}


@media screen and (max-width:479px) {
    /* ここにスマホ版のCSSを書いていくよ */
}
